*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	margin: 15px;
}

.main {
	position: absolute;
	justify-content: center;
	align-items: center;
	margin-top: 10pw;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(250px,250px));
	grid-template-rows: repeat(auto-fill,minmax(250px,250px));
	grid-column-gap: 10px;
	grid-row-gap:10px;
}

/*
.main:hover img {
	opacity:0.3;
}
*/

img {
	object-fit: cover;
	object-position:center;
}


h2 {
	font: size 25px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

p {
	font: 15px;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul {
	list-style-type: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.nav > ul {
	background-color: #33A9D0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.nav {
	background-color: #33A9D0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.nav > ul > li {
	float:left;
}

.nav > ul > li > a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

.nav> ul > li > a:hover {
	background-color: #68D9FE ;
}


